<div class="card">
    <div class="card-header bg-dark text-light">Level 2</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level2.cshtml.</p>
        <ol>
            <li>...all teams in the Atlantic Soccer Conference</li>
            <li>...all (current) players on the Boston Penguins (Hint: Boston is the Location, Penguins is the TeamName)</li>
            <li>...all (current) players in the International Collegiate Baseball Conference</li>
            <li>...all (current) players in the American Conference of Amateur Football with last name "Lopez"</li>
            <li>...all football players</li>
            <li>...all teams with a (current) player named "Sophia"</li>
            <li>...all leagues with a (current) player named "Sophia"</li>
            <li>...everyone with the last name "Flores" who DOESN'T (currently) play for the Washington Roughriders</li>
        </ol>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>Atlantic Conference Teams</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Team Id</th>
                        <th>Team Name</th>
                        <th>League Id</th>
                    </tr>
                    @foreach (var x in ViewBag.Atlantic)
                    {
                        <tr>
                            <td>@x.TeamId</td>
                            <td>@x.TeamName</td>
                            <td>@x.LeagueId</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>Boston Penguins Players</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Team Id</th>
                        <th>Team Name</th>
                        <th>League Id</th>
                    </tr>
                    @foreach (var x in ViewBag.Penguins)
                    {
                        <tr>
                            <td>@x.PlayerId</td>
                            <td>@x.FirstName</td>
                            <td>@x.LastName</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>International Collegiate Baseball Conference Players</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Team Id</th>
                        <th>Team Name</th>
                        <th>League Id</th>
                    </tr>
                    @foreach (var x in ViewBag.International)
                    {
                        <tr>
                            <td>@x.PlayerId</td>
                            <td>@x.FirstName</td>
                            <td>@x.LastName</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>American Conference of Amateur Football with last name "Lopez"</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Player Id</th>
                        <th>Player First Name</th>
                        <th>Player Last Name</th>
                    </tr>
                    @foreach (var x in ViewBag.Lopez)
                    {
                        <tr>
                            <td>@x.PlayerId</td>
                            <td>@x.FirstName</td>
                            <td>@x.LastName</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>All Football Players</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Player Id</th>
                        <th>Player First Name</th>
                        <th>Player Last Name</th>
                    </tr>
                    @foreach (var x in ViewBag.AllFootball)
                    {
                        <tr>
                            <td>@x.PlayerId</td>
                            <td>@x.FirstName</td>
                            <td>@x.LastName</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>All Teams with current players named Sophia</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Team Id</th>
                        <th>Team Name</th>
                        <th>Location</th>
                    </tr>
                    @foreach (var x in ViewBag.TeamSophia)
                    {
                        <tr>
                            <td>@x.TeamId</td>
                            <td>@x.TeamName</td>
                            <td>@x.Location</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>All Leagues with current players named Sophia</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Id</th>
                        <th>League Name</th>
                        <th>Sport</th>
                    </tr>
                    @foreach (var x in ViewBag.LeagueSophia)
                    {
                        <tr>
                            <td>@x.LeagueId</td>
                            <td>@x.Name</td>
                            <td>@x.Sport</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>Last Name Lopez but doesn't play for the Washington Roughriders</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Player Id</th>
                        <th>Player First Name</th>
                        <th>Player Last Name</th>
                        <th>Current Team</th>
                    </tr>
                    @foreach (var x in ViewBag.LopezNotRough)
                    {
                        <tr>
                            <td>@x.PlayerId</td>
                            <td>@x.FirstName</td>
                            <td>@x.LastName</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>